body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  background-color: hsl(30, 38%, 92%);
}
.container {
  width: 100%;
  margin-block: 15%;
  margin: auto;
  margin-inline: 5%;
  border-radius: 14px;
  background-color: white;
}
.perfume-image {
  width: 100%;
  min-height: 250px;
  background-image: url("./images/image-product-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}
.content {
  max-width: 100%;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-inline: 6%;
  margin-block: 1.5rem;
}
.heading-title {
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
}
.desc,
.product-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(228, 12%, 48%);
}
.desc {
  margin-block-end: 0;
}
.product-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.price-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.sale-price {
  font-family: "Fraunces", serif;
  font-size: 26px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}
.full-price {
  font-family: "Fraunces", serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(228, 12%, 48%);
}
.add-to-cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block: 5%;
  border: none;
  background-color: hsl(158, 36%, 37%);
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (min-width: 1240px) {
  .container {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  .perfume-image {
    background-image: url("./images/image-product-desktop.jpg");
    border-top-right-radius: 0;
    border-bottom-left-radius: 14px;
  }
  button:hover {
    background-color: hsl(159, 36%, 9%);
  }
}
